html, body {
	padding: 0;
	margin: 0;
	background-color: #3399CC55;
}

h3 {
	text-transform: uppercase !important;
}

#warning_message_field {
	display: block;
	position: absolute;
	top: 0;
	margin: auto;
	z-index: 1000;
	background-color: #ffffff;
	background-image: url('../img/sea_battle_logo.png');
	background-position: center;
	background-repeat: no-repeat; 
}

#warning_message_field .alert{
	display: block;
	position: relative;
	color: #ffffff !important;
	background: rgba( 0, 0, 0, 0.7 ) !important; 
	backdrop-filter: blur( 2px ) !important; 
	-webkit-backdrop-filter: blur( 2px ) !important;
	border-style: none !important;
	margin: 5% auto;
}

#computer_short_field{
	display: block;
	position: absolute;
	top: 1%;
	color: #ffffff !important;
	background: rgba( 0, 0, 0, 0.7 ) !important; 
	backdrop-filter: blur( 2px ) !important; 
	-webkit-backdrop-filter: blur( 2px ) !important;
	border-style: none !important;
	margin: 15% auto;
	z-index: 1010;
}

#player_short_field{
	display: block;
	position: absolute;
	top: 1%;
	color: #ffffff !important;
	background: rgba( 0, 0, 0, 0.7 ) !important; 
	backdrop-filter: blur( 2px ) !important; 
	-webkit-backdrop-filter: blur( 2px ) !important;
	border-style: none !important;
	margin: 15% auto;
	z-index: 1010;
}

#field_for_computer {
	display: block;
	position: relative;
	margin: auto;
	width: 400px;
	height: 400px;
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff; 
	box-shadow: 0px 0px 10px 5px #ffffffee ; 
}

#field_for_player {
	display: block;
	position: relative;
	margin: auto;
	width: 400px;
	height: 400px;
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff; 
	box-shadow: 0px 0px 10px 5px #ffffffee ; 
}

.player {
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
}

.missed {
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
	color: #ff0000;
	font-weight: bold;
}

.injured_ship {
	background: #FF000033;
	border-style: solid;
	border-width: 1px;
	border-color: #ff0000;
	color: #ff0000;
	font-weight: bold;
}

.killed_ship {
	background: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #ff0000;
	color: #ff0000;
	font-weight: bold;
}

.brush_ship {
	background: #0000FF99;
	border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
	cursor: pointer; 
}

.computer {
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
	cursor: pointer; 
}

.computer:hover {
	background: #FF000033;
	border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
	cursor: pointer; 
}

.column_cell {
	display: block;
	position: relative;
	width: 36px;
	height: 36px;
	padding-top: 6px;
	font-weight: bold;
	text-transform: uppercase;
	background: #3399CC33;
	border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
}

.row_cell {
	display: block;
	position: relative;
	width: 36px;
	height: 36px;
	padding-top: 6px;
	font-weight: bold;
	text-transform: uppercase;
	background: #3399CC33;
	border-style: solid;
	border-width: 1px;
	border-color: #3399CC;
}

.cell {
	display: block;
	position: relative;
	width: 36px;
	height: 36px;
	padding-top: 6px;
	font-weight: bold;
} 

/* inamation loader circle */
#loader_wrapper {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border: none;
}

#loader_circle1 { 
  display: block;
  position: relative;
  left: 2px;
  top: -298px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #7BBFF2;
  animation: spin 1.4s linear infinite;
}

#loader_circle2 {
  display: block;
  position: relative;
  left: 12px;
  top: -168px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  animation: spin_reverse 1.5s linear infinite;
}

#loader_circle3 {
  display: block;
  position: relative;
  left: 22px;
  top: -58px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  animation: spin 1.2s linear infinite;
}

#loader_circle4 {
  display: block;
  position: relative;
  left: 32px;
  top: 32px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  animation: spin_reverse 0.9s linear infinite;
}

@keyframes spin {
  from { 
  	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@keyframes spin_reverse {
  from { 
  	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
  }
}

/* END inamation loader circle */